{include file="public/header" /}
<body>
<div class="all_back">

<!-- header clearfix -->
<!-- welcome clearfix -->
{include file="public/header_top" /}


<div class="main clearfix">

{include file="public:left_main" /}

<div class="right_main">

    <div class="sousuo">
	{//include file="public:search" /}
	        <button type="button" class="btn btn-info bt2" onclick="location.href='{$html.add.url}'" >添加</button>
    </div>

    <!--列表开始-->
    <div class="table-responsive ws_ding">
        
        <table class="table table-hover table-striped zidingyi yhgl ">
            <thead>
            <tr>
                <td>角色名称</td>
                <td>层级</td>
                <td>状态</td>
                <td>是否导航</td>
                <td>排序</td>
                <td>描述</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            	{$html.list.html}
            </tbody>
        </table>

    </div>
    <!--列表结束-->
 
    
</div>
</div>
</div>


<script type="text/javascript">


</script>

<script>

$("td").css("width","auto").css("text-align","left").css("padding-left","20px");




</script>
</body>
</html>