*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'dpicomoon';
    src:url('http://fonts.useso.com/css?family=Microsoft YaHei');
}
button{-webkit-appearance: none !important;}
input{
    -webkit-user-select: auto;
}
body{
    font-family: 'Microsoft YaHei';
    max-width: 640px;
    margin-right: auto!important;
    margin-left: auto!important;
    position: relative;
    background: #ffffff !important;
}
.ws_header{
    height: 1.265625rem;
    background: #f56e4e;
    position: relative;
    z-index: 10;
}
.ws_bt1{
    text-align: center;
    line-height: 1.265625rem;
    font-size: 0.5625rem;
    color: #f8f9fd;
    z-index: -11;
}
.ws_slide{
    height: 5.125rem;
    z-index: 10;
}
.ws_slide img{
    height: 5.125rem;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullet-active{
    background: #c3c1c0 !important;
}
.ws_tc{
    width: 0.3825rem !important;
    background: none !important;
    border: 0 !important;
    padding: 0 !important;
    z-index: 999;
    position: absolute;
    top: 0.35625rem;
    right: 0.4375rem;
}
.ws_tc img{
    width: 0.3125rem;
}
.toubu{
    z-index: 10;
    position: relative;
}
.gzzt{
    height: 4.453125rem;
    border-bottom: 1px solid  #adadae;
    background: #ececed;
}
.gzzt ul{
    padding-top: 0.671875rem;
    padding-left: 1.296875rem;
}
.gzzt ul li{
    width: 1.765625rem;
    float: left;
    margin-right: 1.046875rem;
}
.gzzt ul li a{
    display: block;
    width: 1.765625rem;
}
.gzzt ul li img{
    width: 1.765625rem;
}
.gzzt ul li p{
    text-align: center;
    margin-top: 0.46875rem;
    font-size: 0.4375rem;
}
.tab_qiehuan{
    margin-top: 0.78125rem;
}
.ws_tab{
    width: 7.328125rem;
    height: 0.96875rem;
    border: 1px solid #41c989;
    margin-left: 1.371875rem;
    border-radius:0.15625rem;
    overflow: hidden;
}
.ws_tab a{
    width: 33.2%;
    display: block;
    border-right: 1px solid #41c989;
    float: left;
    height: 0.96875rem;
    text-align: center;
    line-height: 0.96875rem;
    color:  #41c989;
    font-size: 0.40625rem;
    overflow: hidden;
}
.ws_tab a:last-child{
    border: 0;
    width: 33.4%;
}
.active{
    background: #41c989;
    color: #f6f6f6 !important;
}
.swiper-container1{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;z-index:1}
.ws_kuan{
    width: 100%;
    height: 3.28125rem;
}
.ws_q ul{

}
.ws_q ul li{
    width: 1.953125rem;
    float: left;
    text-align: center;

    color: #41444e;
    margin: 0 0.703125rem;
    margin-top: 0.15625rem;
}
.ws_q ul li span{
    font-size: 0.78125rem;
}
.ws_q ul li p{
    font-size: 0.4375rem;
    color: #41444e;
    margin-top: 0.3125rem;
}
/*--------------------用户绑定--------------*/
.yhbd{
    padding: 0.625rem 0.3125rem;
}
.gexx{
    font-size: 0.546875rem;
    color: #41c989;
    border-bottom: 1px solid #41c989;
    padding-bottom: 0.3125rem;
}
.bd_ul{

}
.bd_ul .bd_li{
    height: 0.928125rem;
    line-height: 0.928125rem;
    font-size: 0.4375rem;
    color: #000000;
    border-bottom: 1px solid #41c989;
}
.bd_ul .bd_li .ws_yh{
    float: right;
    width: 6.578125rem;
    height: 0.928125rem;
    /*line-height: 0.928125rem;*/
    font-size: 0.375rem !important;
     margin-bottom: 0px;
     padding: 0px 0px;
    border: 0;
    background: 0;
    text-align: left;
    color: #595f6f !important;
    margin-top: 0;
}
.bd_ul .bd_li .witdh_100{
    width: 4.015625rem;

}
.pading0{
    float: left;
    width: 4.015625rem;
    height: 0.928125rem !important;
    padding: 0 !important;
    font-size: 0.375rem !important;
    margin-bottom: 0;
    border: 0;
    background: 0;
    text-align: left;
    color: #595f6f !important;
    margin-top: 0;
}
.bd_ul .bd_li .ws_yzm{
    width: 2.5625rem;
    float: right;
    /*margin-top: 0.234375rem;*/
    border: 0;
    background: 0;
    color: #41c989;
    font-size: 0.28125rem;
    height: 0.928125rem;
    line-height: 0.928125rem;
}
.top30{
    margin-top: 0.46875rem;
}
.wsxx{
    margin-top: 0.46875rem;
    font-size: 0.375rem;
    color: #595f6f;
}
.scxx{
    margin-top: 0.625rem;
    padding-left: 1.0375rem;
}
.sczj{
    height: 0.578125rem;
    line-height: 0.578125rem;
    float: left;
    font-size: 0.375rem;

    margin-right: 0.5rem;
}
.sczj a{
    color: #40c087;
}
.sczj img{
    float: left;
    width: 0.5625rem;
    margin-right: 0.1875rem;
}
.ws_dj1{
    margin-top: 0.46875rem;
    text-align: center;
    font-size: 0.375rem;
    width: 102%;
}
.ws_dj1 .s1{
    color: #000000;
}
.ws_dj1 .s1 .s2{
    color: #40c087;
}
.ws_dj1 input{
    width: 0.375rem;
    height: 0.375rem;
}
.qc{
    margin-top: 0.3125rem;
    padding-bottom: 0.46875rem;
}
.syb{
    float: left;
    margin-left: 0.78125rem;
}
.syb .ssiby{
    width: 2.390625rem;
    height: 0.9375rem;
    line-height:  0.9375rem;
    background: #40c087;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
}

.kuan1{
    margin-top: 0.66875rem;
    font-size: 18px;
}
.kuan1 button{
    width: 100%;
    border: 0;
    border-radius: 10px;
    background: #40c087;
    color: #ffffff;
    height: 0.825rem;
    line-height: 0.825rem;
}
.kuan2{
    float: right;
    margin-right: 0.78125rem;
}
.kuan2 .ws_qq{
    width: 2.390625rem;
    height: 0.9375rem;
    border: 0;
    border-radius: 5px;
    line-height:  0.9375rem;;
    color: #ffffff;
}
.kuan .xiayibu{
    width: 100%;
    border: 0;
    border-radius: 10px;
    height: 0.828125rem;
}
.baiping{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: rgba(0,0,0,.4);
    -webkit-animation-name: mycolor1;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    z-index: 998;
    overflow: auto;
}
@-webkit-keyframes mycolor1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.cgjm{
    width: 7.59375rem;
    padding: 0.5rem;
    height: 10.5rem;
    position: absolute;
    background: -webkit-linear-gradient( top,#b5ebb4,#75d2a3);
    border-radius: 10px;
    top: 50%;
    margin-top: -5.25rem;
    margin-left: -3.796875rem;
    left: 50%;
    z-index: 999;
    -webkit-animation-name: mycolor2;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes mycolor2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.zccc{
    text-align: center;
    font-size: 0.5rem;
    color: #1d9e5b;
    margin-top: 0.225rem;
}
.zzsh{
    text-align: center;
    font-size: 0.4375rem;
    color: #ffffff;
    margin-top: 0.234375rem;
    line-height: 0.75rem;
}
.cgjm ul{
    margin-top: 0.625rem;
}
.cgjm ul li{
    font-size: 0.5rem;
    color: #efeff1;
    line-height: 0.85rem;
}
.wancheng{
    width: 100%;
    height: 1.09375rem;
    text-align: center;
    border: 0;
    color: #ffffff;
    background: #30b06f;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 1px #000000;
    /*-moz-box-shadow: 3px 3px 1px;*/
    /*box-shadow: 3px 3px 1px;*/
    margin-top: 1.25rem;
    font-size: 0.4375rem;

}
.tpsc{
    padding: 0 0.328125rem;
    display: none;
}
.bqxx{
    font-size: 0.5625rem;
    color: #41444e;
    margin-top: 0.46875rem;
    padding-bottom: 0.434375rem;
    border-bottom: 1px solid #40c087;
}
.pading77{
    padding: 1rem 1.203125rem;
}
.bg_t{
    width: 6.96875rem;
    height: 4.578125rem;
    margin: 0 auto;
    background: url("../images/bder_bg_03.png") no-repeat left center;
    background-size: 100% 100%;
    position: relative;
    margin-bottom: 0.265625rem;
}
.scip{
    opacity: 0;
    z-index: 980;
    position: absolute;
    width: 6.453125rem;
    height: 4.046875rem;
    top: 0.265625rem;
    left: 0.265625rem;
}
.sctp{
    position: absolute;
    top: 0.265625rem;
    left: 0.265625rem;
    z-index: 970;
    width: 6.453125rem;
    height: 4.046875rem;
}
.m111{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}
.nxdh{
    font-size: 0.546875rem;;
    text-align: center;
    line-height: 0.7625rem;
    margin-bottom: 0.390625rem;color: #f72b64;
}
.pading771{
    margin-top: 0.3125rem;
}
.wid10{
    width: 100%;
}
.tihuan{
    /*float: right;*/
    /*width: 20px;*/
    /*height: 100%;*/
    /*color: #41c989;*/
    /*font-size: 0.38125rem !important;*/
    /*margin-top: 0 !important;*/
    /*text-align: right;*/
}
.all_xj{
    float: right;
    width: 6.578125rem;
    height: 0.928125rem;
}
.xg_phone{
    /*width: 4.578125rem !important;*/
    float: left;
}
.wid10{
    width: 4.578125rem !important;
    height: 0.928125rem !important;
    float: right;
    padding: 0 !important;
}
.yzm_none{
    display: none;
}
.matop{
    margin-top: 0.36875rem !important;
}

.pop{
    width: 90%;
    padding: 0 5%;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: -45%;
    background-color:rgba(255,255,255,0.9);
    /*height: 200px;*/
    z-index: 999;
    display: none;
    text-align: center;
    padding-bottom: 0.46875rem;
    border-radius: 5px;
}
.pop img{
    width: 100%;
    margin-top: 0.6525rem;
}
.pop button{
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 0.3125rem;
}
.shibie{
    font-size: 0.575rem;
    text-align: center;
    margin-top: 0.6525rem;
    color: #000;
}

/*---------------------缴费记录-------------------*/
.pay_html{
    background: #ececed;
    height: 100%;
}
.pay_body{
}
.pay{
    padding: 0.546875rem 0.21875rem;
    background: #ececed;
}
.pay_list{
    padding: 0.21875rem 0.34375rem;
    background: #ffffff;
    border-radius: 10px;
    box-shadow:0px 0px 0.15625rem #9e9c9c;
    margin-bottom: 10px;
}
.green{
    background: linear-gradient(to right, #5aca8e , #ace9a3);
}
.cph{
    font-size: 0.46875rem;
    color: #5a5f70;
    font-weight: bold;
    font-family: '微软雅黑';
}
.cph span{
    text-align: right;
    font-size: 0.421875rem;
    color: #5a5f70;
    float: right;
    font-weight: normal;
}
.p_green{
    color: #ffffff;
}
.pay_ul{
    margin-top: 0.25rem;
}
.pay_ul li{
    font-size: 0.421875rem;
    color: #5a5f70;
    line-height: 0.625rem;
}
.ul_green li{
    color: #ffffff;
}
.payment{
    color: #40c087;
    font-size: 0.46875rem;
    margin-top: 0.25rem;
}
.p1_green{
    color: #ffffff;
}
.payment_lose{
    font-size: 0.46875rem;
    margin-top: 0.25rem;
    color: #E16459;
}
.examine{
    text-align: right;
    font-size: 0.375rem;
    margin-top: 0.34375rem;
}
.examine a{
    color: #5a5f70;
}
.p2_green a{
    color: #ffffff;
}
/*---------------缴费详情记录----------*/
.date{
    height: 2.109375rem;
    background: linear-gradient(to right, #40c087 , #ace9a3);
}
.date ul{
    padding-top: 0.546875rem;
}
.date ul li{
    width: 12%;
    float: left;
    height: 1.328125rem;
    margin-left: 2%;
    text-align: center;
}
.date ul li span{
    display: block;
}
.date ul li .date_s1{
    font-size: 0.390625rem;
    color: #fdfeff;

}
.date ul li .date_s2{
    text-align: center;
    font-size: 0.390625rem;
    /*padding: 0.078125rem 0;*/
    color: #ffffff;
    width: 60%;
    margin: 0 auto;
    margin-top: 0.1125rem;
}
.date ul li .date_s3{
    text-align: center;
    background: #ffffff;
    color: #40c087;

}
.pay_details{
    padding: 0 0.265625rem;
    margin-top: 0.90625rem;
}
.pay_main{
    padding: 0.296875rem;
    border: 1px solid #cccccc;
}
.pay_details_ul{
    /*margin-top: 0.546875rem;*/
}
.pay_details_ul li{
    font-size: 0.375rem;
    color: #000000;
    margin-top: 0.306875rem;
}
.pay_details_ul li span{
    display: block;
    color: #737373;
    font-size: 12px;
    height: 0.375rem;
    line-height: 0.375rem;
}
.clear_all{
    position: relative;

}
.pay_details1_ul{
    float: left;
}
.pay_details1_ul li{
    font-size: 0.375rem;
    color: #737373;
    margin-top: 0.3125rem;
}
.pay_succeed{
    width: 2.703125rem;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #8eccc9;
}
.pay_succeed_failure{
    width: 2.703125rem;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #E16459;
}
.pay_succeed_failure span{
    display: block;
    text-align: center;
}

.pay_succeed span{
    display: block;
    text-align: center;
}
.zhifu1{
    font-size: 0.3125rem;
}
.zhifu2{
    font-size: 0.5625rem;
    margin-top: 0.3125rem;
}
.footer{
    margin-top: 0.5625rem;
    border-top: 2px dashed #a19e9e;
    padding-top: 0.546875rem;
}
.qrhk{
    display: block;
    float: left;
    color: #e16459;
    height: 0.4375rem;
    line-height: 0.4375rem;
    margin-left: 1.171875rem;
}
.qrhk img{
    width: 0.375rem;
    height: 0.4375rem;
    float: left;
}
.qrhk span{
    line-height: 0.4375rem;
    float: left;
    margin-left: 0.1875rem;
}
.dzfp{
    display: block;
    float: right;
    color: #000000;
    height: 0.4375rem;
    line-height: 0.4375rem;
    margin-right: 1.171875rem;
}
.dzfp img{
    width: 0.375rem;
    height: 0.4375rem;
    float: left;
}
.dzfp span{
    line-height: 0.4375rem;
    float: left;
    margin-left: 0.1875rem;
}
/*----------------问题二级列表----------------*/
.problem_html{
    background: #ebf1f1;
}
.problem_body{
    background: #ebf1f1 !important;
}
.problem{
    padding-left: 0.5rem;
    background: #ffffff;
    margin-bottom: 0.15625rem;
}
.problem_xq{


}
.problem_headline{
    height: 0.96875rem;
    line-height: 0.96875rem;
    font-size: 0.4375rem;

    color: #41444e;
    /*background: url("../images/rj_logo_03.jpg") no-repeat left center;*/
}
/*.problem_headline:hover .rotate{*/
    /*-webkit-transition:all .2s ease-in 0s;;*/
    /*-webkit-transform: rotateZ(90deg);*/
/*}*/
.problem_headline img{
    width: 0.53125rem;
    height: 0.53125rem;
    float: left;
    margin-top: 0.21875rem;
}
.problem_headline span{
    float: left;
    margin-left: 0.390625rem;
}
.problem_answer{
    /*padding-left: 0.9375rem;*/
    color: #9ea0a3;
    font-size: 0.375rem;
    line-height: 0.625rem;
    border-top: 1px solid #b5b5b5;
    display: none;
    padding: 0.234375rem 0;
}
