<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!-- 优先使用 IE 最新版本和 Chrome -->
<meta name="renderer" content="webkit">
<!-- 360浏览器切换极速模式 -->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 禁止百度手机转码 -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<base href="__STATIC__/" />
<link href="__CSS__/style.css" type="text/css" rel="stylesheet" />
<link href="__CSS__/reset.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="__CSS__/jquery.mloading.css">
<link rel="stylesheet" href="__CSS__/validationEngine.jquery.css">


<script src="__JS__/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="__JS__/texiao1.js"></script>
<script src="__JS__/jquery.mloading.js"></script>


    <script src="__JS__/zepto.min.js"></script>
    <script src="__JS__/picker.js"></script>
	 <link rel="stylesheet" href="__CSS__/weui2.css">

<script src="__JS__/angularjs.js"></script>


<style>
.formErrorContent {
	color: #000000 !important;
}
.kuan{
	margin-bottom:10rm  !important;
}
</style>
</head>
<body>



<form class="kscx_top" id="form_id" method="post" action="bind" ng-app="myApp" ng-controller="myCtrl">
		<div class="zhuce clearfix"  >
			<span ng-bind="form_name"></span>
		</div>
		<ul>
			<li class="xm_l1">车主姓名<span><input
				 name="username" 
					class="weui_input ws_ibj" type="text" placeholder="请输入车主姓名"
					maxlength="5" /></span></li>
			<li>身份证号<span><input class=" weui_input ws_ibj" 
			 name="identity_card"  
			 pattern="[0-9]*" 
					type="text" placeholder="请输入省份证号" maxlength="18" /></span></li>
			<li>手机号码<span><input class="weui_input ws_ibj" 
					name="phone" id="telephone" type="text" 
					pattern="[0-9]*" 
					placeholder="请输入手机号码" maxlength="11" /></span></li>
			<li>车牌号<span><input class="weui_input ws_ibj" type="text" 
				 name="car_number" 
					placeholder="请输入车牌号" /></span></li>
			<li>车型<span><select    class="weui_input ws_ibj gais"  name="car_type_id" >
						<option value="0" >请选择车型</option>
						<option  value="{{ x.uni_id }}"  ng-selected="number123==x.uni_id" ng-repeat="x in names" ng-bind="x.name"></option>
			
				</select></span></li>
			<li>发动机号<span><input class="weui_input ws_ibj" 
				 name="engine" 
					type="text" placeholder="请输入发动机号" /></span></li>
			<li>颜色<span><select    class="weui_input ws_ibj gais"  name="car_color" >
						<option value="0" >请选择颜色</option>
						<option  value="{{ x.id }}"  ng-selected="form_car_color==x.id" ng-repeat="x in repeat_car_color"
						 ng-bind="x.value"></option>
			
				</select></span></li>
			
			<li>车辆注册时间<span><input class="weui_input ws_ibj" type="text" 
				 name="reg_time" 
					placeholder="请输入车辆注册时间" /></span></li>		
					
			<li>车架号<span><input class="weui_input ws_ibj" type="text" 
				 name="chassis_number" 
					placeholder="请输入车架号" /></span></li>		
					
			<li class="cl_l1">品牌<span><input 
				 name="brand" 
					class="weui_input ws_ibj" type="text" placeholder="请输出车辆品牌" /></span></li>
					
			
			
					
		</ul>
		<p class="clbd_p1">完善车辆信息，点击下面按钮扫描证件</p>
		<div class="sb_logo">
			<a href="#"><img src="images/sfz_logo_03.png" class="sb_s1"></a>
			<a href="#"><img src="images/jsz_sb_03.png" class="sb_s2"></a>
		</div>
		<div class="ws_dj1">
			<label><input type="checkbox" id="yes" name="_agree" /></label><span>我已阅读并同意《吉林省高速缴费平台用户缴费协议》</span>
			<div class="kuan" style="margin-bottom:0.546875rem;">
				<input class="li_input_hidden" type="hidden" name="id" value="0" />
				<button id="zhuce" class="submit ws_qq" type="submit"
					disabled="true">提交</button>
			</div>
		</div>
		
	</form>

	<div class="formErrorContent fengmian" id="y1">
		<div class="tishi" id="y2">
			<p class="y2_1">数据加载中。。。</p>
			<a class="btnok" href="JAVASCRIPT:;">确定</a>
		</div>
	</div>

<script type="text/javascript" >
var app = angular.module('myApp', []);
</script>
	
	<script type="text/javascript">
		var cb = document.getElementById("yes");
		var btn = document.getElementById("zhuce");
		(function() {
			
			btn.style.background = "#e0e0e0";
			cb.onclick = function() {
				if (cb.checked == true) {
					document.getElementById("zhuce").disabled = false;
					btn.style.background = "#2ba246";
				} else {
					document.getElementById("zhuce").disabled = true;
					btn.style.background = "#e0e0e0";
				}
			}
		})();
	</script>
	<!--不能为空。-->
	<script>
	var nm1 = document.getElementById("y1");
	var nm2 = document.getElementById("y2");
	function hide(){
		nm1.style.display = "none";
		nm2.style.display = "none";
	}
	function show(msg){
		$("#y2 .y2_1").html(msg);
		nm1.style.display = "block";
		nm2.style.display = "block";
		
	}
	
	function hide(){
		nm1.style.display = "none";
		nm2.style.display = "none";
	}
	function show_loading(){
		nm1.style.display = "block";
		nm2.style.display = "block";
		$("#y2 .y2_1").html("数据提交中。。。");
	}
		

	(function() {
		nm2.onclick = function() {
			nm1.style.display = "none";
			nm2.style.display = "none";
		}
	})();
	</script>
	<!--loading加载。-->
	<script>
	
	var form_data = {$form};
	if(typeof form_data.car_type_id =='undefined'){
		form_data.car_type_id =0;
	}
	if(typeof form_data.car_color =='undefined'){
		form_data.car_color = 0;
	}
	
	app.controller('myCtrl', function($scope,$http) {
	    $scope.form_name = "绑定车辆";
	    $scope.number123 = form_data.car_type_id;
	    $scope.form_car_color = form_data.car_color;
	    
	    $http.get('{:url('way/user/getCarTypeJson')}').success(function (response) { 
	 	   $scope.names = response.records;
	 	});
	   
	    $http.get('{:url('way/user/getCarColorJson')}').success(function (response) { 
	 	   $scope.repeat_car_color = response.records;
	 	});
	   
	});
	
	
		$(function() {
			$("input[name='reg_time']").datetimePicker({title:"车辆注册时间",m:1});  //年月日
			hide();
			
			$("li input,.li_input_hidden").each(function(){
				if(typeof form_data[$(this).attr('name')] != 'undefined' ){
					$(this).val( form_data[$(this).attr('name')] );
				}
			})
			
			
			var is_submit = false;
			$("#form_id").submit(function(){
				
			
				if(! $("#yes").prop("checked") ){
					show("请勾选 吉林省高速缴费平台用户缴费协议");
					return false;
				}
				
				if(is_submit){
					return false;
				}
				is_submit = true;
		
				$.ajax({
					url:"{:url('way/user/userBindCar?_ajax=1')}",
					data:$("#form_id").serialize()+'&_ajax=1',
					dataType:"json",
					"type":"post",
					beforeSend:function(){
						show_loading();	
					},
					success:function(data){
						hide();
						if(0 === data.errcode){
							show(data.html);
							$("#y2 .btnok").click(function(){
								location.href=data.view_url;
							});
						}else{
							show(data.html);
						}
					},
					complete:function(){
						is_submit = false;
					},
				});
				
				return false;
			});
			
		});
		
		
		
	</script>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
<script>

    /*判断是否为苹果*/

    var isIPHONE = navigator.userAgent.toUpperCase().indexOf('IPHONE')!= -1;



    // 元素失去焦点隐藏iphone的软键盘

    function objBlur(id,time){

        //if(typeof id != 'string') throw new Error('objBlur()参数错误');

        //var obj = document.getElementById(id),
        var obj;
        
        obj = id.get(0);
        
        console.log('aaa');

        time = time || 0,

        docTouchend = function(event){

            if(event.target!= obj){

                setTimeout(function(){

                    obj.blur();

                    document.removeEventListener('touchend', docTouchend,false);

                },time);

            }

        };

        if(obj){
        	  console.log('bbbb');

            obj.addEventListener('focus', function(){

                document.addEventListener('touchend', docTouchend,false);

            },false);

        }else{

            throw new Error('objBlur()没有找到元素');

        }

    }


    $("input").each(function(){
    	objBlur($(this),200);
    	
	});
    

    if(isIPHONE){
        
    	$("input").each(function(){
    		//objBlur($(this),200);
    	});
    }
</script>	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>