{include file="public/header" /}
<body>
	<div class="all_back">


<!-- header clearfix -->
<!-- welcome clearfix -->
{include file="public/header_top" /}

		<div class="main clearfix">
			{include file="public:left_main" /}
			<div class="right_main">
			<form method="post" id="form">
			
				<div class="form-group">
					<label for="exampleInputEmail1">登录账号</label> <input
						type="text"
						name="uni_account"
						value="{$model->uni_account}"
						class="form-control ws_left"
						placeholder=""
					>
				</div>
				
				
				
				<div class="form-group">
					<label for="exampleInputEmail1"></label>密码<input
						type="password"
						name="password"
						value=""
						class="form-control ws_left"
						placeholder=""
					>
				</div>



				<div class="form-group">
					<label for="exampleInputEmail1">确认密码</label> <input
						type="password"
						name="repeat_password"
						value=""
						class="form-control ws_left"
						placeholder=""
					>
				</div>
		

				<input type="hidden" name="_method" value="{$form.method}" />
				<button
					type="button"
					class="btn btn-info"
					id="submit"
				>提交</button>
</form>
			</div>
		</div>
	</div>
	<script>


		$('#submit').click(function() {
			$.post('{$form.submit.url}' ,$("#form").serialize(),function(data){
				alert(data.html);
				if(0 === data.errcode){
					location.href=data.url.next_page;
				}
			} ,'json');
		});
	</script>
</body>
</html>