{include file="public/header" /}
<body>
	<div class="all_back">
		<div class="header clearfix">
			<img
				src="images/header_logo1_03.png"
				class="h_m1"
			> <img
				src="images/header_bt_03.png"
				class="h_m2"
			>
			<div class="denglu">
				<span><a
					href="#"
					class="d_a1"
				>重新登录</a>|<a
					href="#"
					class="d_a2"
				>注销登录</a></span>
			</div>
		</div>
		<div class="welcome clearfix">
			<p class="welcome_p1">欢迎您，XXX</p>
			<p class="welcome_p2">
				今天是<span id="shijian">2017年08月01日 星期二</span>
			</p>
		</div>
		<div class="main clearfix">
			{include file="public:left_main" /}
			<div class="right_main">
			<form method="post" id="form">
			
				<div class="form-group">
					<label for="exampleInputEmail1">登录账号</label> <input
						type="text"
						name="uni_account"
						value="{$model->uni_account}"
						class="form-control ws_left"
						placeholder=""
					>
				</div>
				
				
				
				<div class="form-group">
					<label for="exampleInputEmail1"></label>密码<input
						type="password"
						name="password"
						value=""
						class="form-control ws_left"
						placeholder=""
					>
				</div>



				<div class="form-group">
					<label for="exampleInputEmail1">确认密码</label> <input
						type="password"
						name="repeat_password"
						value=""
						class="form-control ws_left"
						placeholder=""
					>
				</div>
		

				<input type="hidden" name="_method" value="{$form.method}" />
				<button
					type="button"
					class="btn btn-info"
					id="submit"
				>提交</button>
</form>
			</div>
		</div>
	</div>
	<script>
		$(".hide_bt").click(function() {
			var width = $(".left_main").css("width");

			if (width == '0px') {
				$(".left_main").animate({
					width : "20%"
				}, 250);
				$(".right_main").animate({
					width : "79%"
				}, 250);
				$(".u1").show();
			} else {
				$(".left_main").animate({
					width : "0px"
				}, 250);
				$(".right_main").animate({
					width : "100%"
				}, 250);
				$(".u1").hide();
			}
		});
		$('.l1').click(function() {
			$(this).parent().find('li').attr('class', 'l1');
			$(this).attr('class', 'select1');
		});

		$('#submit').click(function() {
			$.post('{$form.submit.url}' ,$("#form").serialize(),function(data){
				alert(data.html);
				if(0 === data.errcode){
					location.href=data.url.next_page;
				}
			} ,'json');
		});
	</script>
</body>
</html>