<div class="left_main">
    <div class="hide_bt"></div>
    <ul class="u1">
        <li class="l1"><p><span>用户管理</span></p>
        <ul class="u2">
                <li class="l2">用户管理</li>
                <li class="l2">用户管理</li>
                <li class="l2">用户管理</li>
                <li class="l2">用户管理</li>
            </ul></li>
        <li class="l1"><p><span>缴费管理</span></p></li>
        <li class="l1"><p><span>用户管理</span></p></li>
        <li class="l1"><p><span>用户管理</span></p></li>
        <li class="l1"><p><span>用户管理</span></p></li>
    </ul>
</div>